<%= form_for(@test_force) do |f| %>
  <% if @test_force.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_force.errors.count, "error") %> prohibited this test_force from being saved:</h2>

      <ul>
      <% @test_force.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
