<h1>Testing the Force API</h1>

<h3>Using test_forces_controller to query the API using SalesForce gems databasedotcom and databasedotcom-rails</h3>

<a href="https://developer.salesforce.com/page/Accessing_Salesforce_Data_From_Ruby">Accessing Salesforce Data from Ruby</a>

<p>...Results of query</p>